body {
    color: brown;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

div#insta\ {
    margin: 10px;
    width: 100%;
}
.england {
    margin: 10px;
    width: 100%;
}
div#australia {
    margin: 10px;
    width: 100%;
}

div#india {
    margin: 10px;
    width: 100%;
}
.mahi {
    margin: 10px;
    width: 100%;
}