.container{
    overflow: auto;
}
.row1{
    background: black;
    color: white;
    height: 88px;
}
header{
    width: 800px;
    background: gray;
    margin: auto;
    justify-content: space-between;   
}
.basic{
    width: 220px;
    margin-top: 10px;
    float: left;
}
.basic h1{
    padding: 0%;
    margin: 0%;
}
.basic p{
    padding:0%;
    margin: 0%;
}
nav{
    margin-top: 13px;
    background: black;
    float: right;
}
.row1 nav ul{
    
    list-style-type: none;
}
nav ul li{
    margin-right: 40px;
    font-size: 20px;
    display: inline;
}
.row2{
    margin-top: 20px;
    margin: auto;
    width: 800px;
}
.row2 img{
    margin-top: 30px;
}
.row3{
    width: 800px;
    margin: auto;
    overflow: auto;
    display: flex;
}
.childs{
    width: 185px;
    margin-right: 15px;
    float: left;
}
.childs figure {
    margin-left: 0%;
}
.childs figure img{
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid;
    padding: 2px;
}

span{
    font-size: 15px;
    margin-left: 14px;
}
.childs figcaption p{
    font-size: 14px;
}
.childspara a{
    color: orange;
    text-decoration: none;
}
.childs4{
    width: 185px;
    float: right;
}
.childs4 figure img{
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid;
    padding: 2px;
}
span{
    font-size: 15px;
    margin-left: 14px;
}

.childs4 figcaption p{
    font-size: 14px;
}
.childspara{
    float: right;
}
.childspara a {
    color: orange;
    text-decoration: none;
}
.row4{
width: 800px;
margin: auto;
overflow: auto;
 border-bottom: 1px dotted; 
color: gray;
display: flex;
height: 215px;
}
.parent1{
    width: 290px;
    height: 180px;
    float: left;
}

.parent1 img {
    width: 245px;
    height: 173px;
    float: left;
    border: 2px solid;
    padding: 3px;
    }
    .parent img {
        width: 245px;
        height: 173px;
        float: left;
        border: 2px solid;
        padding: 3px;
    }
    /* .parent3 img {
        width: 245px;
        height: 222px;
        float: left;
        border: 2px solid;
    } */

.parent{
    width: 290px;
    height: 180px;
    float: right;
}
p.parent2{
    float: right;
}
.row5{
    width: 800px;
    margin: auto;
    overflow: auto;
    margin-top: 20px;
}
.row5 article{
    width: 580px;
    float: left;
}
.child1{
    overflow: auto;
    
}
.child1 img{
    width: 170px;
    float: left;
}

.childingimg{
    width: 170px;
    height: 150px;
    border: 1px solid;
    padding: 3px;
}
.child1cap{
    width:390px ;
    margin-left: 10px;
    float: right;
}
.childcap p{
    font-size: 15px;
}
p#child1para{
    float: right;
}
#child1para a{
color: orange;
text-decoration: none;
font-size: 13px;
}
a{
    float: right;
    color: orange;
    font-size: 13px;
    text-decoration: none;
}
aside{
    width: 198px;
    float: right;
  
}
aside ul{
    list-style: none;
    padding: 0%;
}
aside ul li{
    border-bottom: 1pxv solid lightgray;
    font-size: 15px;
    color: #3c3737;
}

.row6{
    background: black;
    color: white;
}
footer{
    width: 800px;
    margin: auto;
    overflow: auto;
  
    justify-content: space-between;
}
p#footerpara1{
    font-size: 13px;
    float: left;
  
}
p#footerpara2{
    font-size: 13px;
    float: right;
    
}
article p{
    font-size: 13px;
}
.childimg img {
    width: 170px;
    float: left;
}
.childimg img {
    width: 131px;
    float: left;
    height: 130px;
    
}

div.list {
    float: right;
    
    width: 125px;

}
ul {
    list-style-type: none;
  
} 
  .row5 {
        width: 800px;
        margin: auto;
        overflow: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .childimg img {
        width: 131px;
        float: left;
        height: 130px;
        border: 2px solid;
        color: gray;
        padding: 3px;
        margin-right: 20px;
    }
    .list li a {
        text-decoration-line: none;
        border-bottom: 1px dotted;
        display: block;
    }
    div.list {
        float: right;
        width: 180px;
    }
    .list li {
        list-style-type: none;
        line-height: 2.0;
    }
    body {
        margin: 0;
    }
    